<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<footer class="bg-black py-4 text-center">
    <div class="flex justify-center items-center space-x-4">
      <a href="#" class="text-blue-500 hover:text-blue-700">
        <i class="fab fa-facebook fa-4x"></i>
      </a>
      <a href="#" class="text-green-600 hover:text-green-800">
        <i class="fab fa-whatsapp fa-4x"></i>
      </a>
      <a href="#" class="text-purple-600 hover:text-purple-800">
        <i class="fab fa-instagram fa-4x"></i>
      </a>
      <a href="#" class="text-blue-400 hover:text-blue-600">
        <i class="fab fa-twitter fa-4x"></i>
      </a>
    </div>
  
    <div class="mt-4 text-red-500">
      <span>Made with Love</span>
      <i class="fas fa-heart fa-2x"></i>
    </div>
  
    <div class="mt-2 text-gray-600">
      &copy; Vikram Naik
    </div>
  </footer>
  