<!-- header.component.html -->
<header class="bg-blue-500 py-8">
    <div class="container mx-auto flex justify-between items-center">
      <button class="text-white cursor-pointer" (click)="toggleSidebar()">
        <!-- Hamburger menu icon (using an external icon library) -->
        <i class="fas fa-bars text-2xl"></i>
      </button>
      <button class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-lg cursor-pointer" (click)="logout()">
        <a routerLink=''> Logout</a>
       
      </button>
      
    </div>
  </header>
  