<div class="flex">
    <!-- Sidebar with Tailwind CSS classes -->
    <!-- admin-dashboard.component.html -->
<app-sidebar [sidebarVisible]="isSidebarVisible" class="bg-gray-800 text-white w-1/8"></app-sidebar>
<!-- Other content for the admin dashboard -->


    <div class="flex-grow"> <!-- Use flex-grow to make the content area fill available space -->
      <!-- Header with Tailwind CSS classes -->
      
      <app-header (logoutEvent)="logout()" (toggleSidebarEvent)="toggleSidebar()" class="bg-blue-500 text-white "></app-header>

      <br>
      <!-- Other content for the dashboard -->
      <div class="px-8 grid grid-cols-4 gap-6"> <!-- Use grid classes for layout -->
        <!-- Div-01
        <div class="bg-blue-600 rounded-lg p-4 mb-4 flex items-center">
          <div>
            <i class="fas fa-chalkboard-teacher mr-2 text-green-500"></i>
            <p class="text-xl font-semibold text-white">View Student</p>
            <i class="fas fa-eye fa-2x center text-black-500"></i>
          </div>
        </div>

        Div-02 -->
        <!-- 
        <div class="bg-green-600 rounded-lg p-4 mb-4 flex items-center">
          <div>
            <i class="fas fa-graduation-cap mr-2 text-yellow-500"></i>
            <p class="text-xl font-semibold text-white">Add Student</p>
            <i class="fas fa-plus fa-2x center text-black-500"></i>
          </div>
        </div> -->
  
        <!-- Div-03 -->
        <div class="bg-yellow-400 rounded-lg p-4 mb-4 flex items-center">
          <div>
            <i class="fas fa-dollar-sign mr-2 text-red-500"></i>
            <p class="text-xl font-semibold text-white">Approve Student</p>
            <br>
            <i class="fa fa-search fa-2x center text-black-500"></i>
          </div>
        </div>
  
        <!-- Div-04 -->
        <div class="bg-blue-600 rounded-lg p-4 mb-4 flex items-center">
          <div>
            <i class="fas fa-dollar-sign mr-2 text-red-500"></i>
            <p class="text-xl font-semibold text-white">View Student Salary</p>
            <br>
            <i class="fa fa-search fa-2x center text-black-500"></i>
          </div>
        </div>
      </div>
  
      <!-- Notice Board -->
      <br>
      <div class="bg-white rounded-lg p-4 mb-4">
        <h2 class="text-2xl font-semibold mb-4">Notice Board</h2>
        <!-- Add your notice board content here -->
        <div class="bg-gray-700 p-4 rounded-lg">
          <textarea class="text-white bg-transparent w-full h-24" placeholder="Enter your notice here..."></textarea>
        </div>
      </div>
      
    </div>
  </div>
  